<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

body {
  margin: 0px;
  padding: 0px;
  display: block;
  width: auto;
}


main { padding = 16px
  }

footer {
    padding-top:24px; padding-bottom: 24px;
    padding-right: 0px; padding-left: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green

    }

image {height: 500px;}

nav {border-bottom: 1px solid black; padding: 16px;}

h1 { text-align: center;}

.all-the-food {text-align: center;}

a:hover { color: green;}

a {text-decoration: none;}


.taco-pictures{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: auto 100px;
  padding: 5px;
}

img { width: 250px;
   length:250px;
   padding: 5px;
}

header
{
background-color: brown;
width: 100%;
color: white
}

.main-page
{
  color: white
}

tr:nth-child(even){
  background-color: rgba(116, 113, 113, 0.486);
}
